.visita-generica {

	ion-card-header {
	  font-weight: bold;
	  font-size: 14pt;
	  color: map-get($colors,pink-dark );
	}

	ion-list-header {
	  color: map-get($colors, primary );
	  font-weight: normal;
	}

	.subheader-list {
	  color: map-get($colors,pink-dark );
	  font-weight: normal;
	}


}
