<ion-item class="subheader-list">Ciclo Menstrual</ion-item>

<ion-item>
  <ion-label fixed>Duração</ion-label>
  <ion-input placeholder="em dias"></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Intervalo</ion-label>
  <ion-input placeholder="em dias"></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Menarca</ion-label>
  <ion-input placeholder="idade"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Regular</ion-label>
  <ion-toggle></ion-toggle>
</ion-item>

<ion-item class="subheader-list">Anticoncepcionais</ion-item>
<ion-item>
  <ion-label fixed>Qual?</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Tempo</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item class="subheader-list">Outros</ion-item>

<ion-item>
  <ion-label>Cirurgias Ginecológicas</ion-label>
  <ion-toggle [(ngModel)]="cirurgias"></ion-toggle>
</ion-item>
<ion-item *ngIf="cirurgias">
  <ion-label fixed>Idade</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item *ngIf="cirurgias">
  <ion-label fixed>Motivo</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Malformações Uterinas</ion-label>
  <ion-toggle [(ngModel)]="uterina"></ion-toggle>
</ion-item>
<ion-item *ngIf="uterina">
  <ion-label fixed>Qual?</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Patologias mamárias</ion-label>
  <ion-toggle></ion-toggle>
</ion-item>
<ion-item>
  <ion-label fixed>Tratamentos</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item class="subheader-list">Última colpocitologia oncótica</ion-item>
<ion-item>
  <ion-label fixed>Data</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Resultados</ion-label>
  <ion-input></ion-input>
</ion-item>