<ion-item>
  <ion-label fixed>Início da atividade sexual</ion-label>
  <ion-input placeholder="Idade"></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Frequência</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label dark>Dispareunia</ion-label>
  <ion-toggle></ion-toggle>
</ion-item>

<ion-item>
  <ion-label dark>Prática sexual na gestação</ion-label>
  <ion-toggle [(ngModel)]="praticasexual"></ion-toggle>
</ion-item>

<ion-item *ngIf="!praticasexual">
  <ion-label fixed>Motivo</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Número de parceiros pregressos</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Número de parceiros atuais</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Uso de preservativos</ion-label>
  <ion-select [(ngModel)]="preservativo">
    <ion-option value="sempre">Sempre</ion-option>
    <ion-option value="eventualmente">Eventualmente</ion-option>
    <ion-option value="raramente">Raramente</ion-option>
    <ion-option value="nao">Não</ion-option>
  </ion-select> 
</ion-item>

<ion-item *ngIf="preservativo != 'nao'">
  <ion-label fixed>Qual?</ion-label>
  <ion-input></ion-input>
</ion-item>