.visita0 {

	ion-card-header {
	  font-weight: bold;
	  font-size: 14pt;
	  color: map-get($colors,pink-dark );
	}

	ion-list-header {
	  color:  map-get($colors,primary);
	  font-weight: normal;
	}

	ion-card {
		border-width: 1px;
		border-style: solid;
	}

	.list-long-item {
		padding-left: 0.7%;
	}

	ion-col {
		border-right-style: solid;
		border-right-width: 1px;
	}

	.column-title {
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}

	.column-item {
		font-size: 12pt;
	}

	.subheader-list {
	  color: map-get($colors,pink-dark );
	  font-weight: normal;
	}

	ion-textarea {
		border-style: solid;
		border-width: 1px;
	}

}
