.visita0 {

	  .swiper-slide {
        display: block;
    }

    .swiper-container{
        overflow: visible;
    }

		.slide-zoom{
			& > .button{
				float: right;
			}
		}

		.list{
			border: 0;
			padding: 10px;
			.list-header {
				font-weight: bold;
				margin-bottom: 0;
				color: map-get($colors,pink-dark );
				border-bottom: 1px solid map-get($colors,pink-light);
				border-top: 0;
			}
		}

	ion-list-header {
	  color:  map-get($colors,primary);
	  font-weight: normal;
	}

	.subheader-list {
	  color: map-get($colors,pink-dark );
	  font-weight: normal;
	}


}
